{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary"><i class="far fa-save"></i> Salvar</button>
    <a href="{{ path('post_index') }}"><i class="far fa-list-alt"></i> Voltar para a lista de posts</a>
{{ form_end(form) }}
