{% extends 'base.html.twig' %}

{% block title %}Exibir Post{% endblock %}

{% block body %}

    <div class="row mt-5">
        <div class="col-12">
            <h1>{{ post.titulo }}</h1>

            <div class="card mt-4">
                <div class="card-body bg-light">
                    {{ post.sumario | nl2br }}
                </div>
            </div>

            <div class="card mt-4 border-light">
                <div class="card-body">
                    {{ post.conteudo | nl2br }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
